.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* background-color: aqua; */
}

.content {
  width: 65vw;
}

.shops {
  display: flex;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* background-color: red; */
}
.shops div {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 650px) {
  .parent {
    padding: 10px;
  }
  .content {
    width: 75vw;
  }
}

@media screen and (max-width: 550px) {
  .parent {
    padding: 10px;
  }
  .content {
    width: 90vw;
  }
}

@media screen and (max-width: 450px) {
  .content h3 {
    font-size: 0.95em;
  }
}
