.parent {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 15px;
}

.imageContainer {
  /* background-color: red; */
  /* object-fit: cover; */
  border-radius: 8px;
  display: inline-block;
}

.imageContainer img {
  object-fit: cover;
  border-radius: inherit;
  width: 150px;
  height: 150px;
}
.content {
  display: inline-block;
  flex: 1;
}

.content h4 {
  font-size: 1.5em;
  text-transform: capitalize;
}
.price {
  font-family: "font_one_bold";
}

@media screen and (max-width: 900px) {
  .content h4 {
    font-size: 1.1em;
  }
  .imageContainer img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 650px) {
  .content h4 {
    font-size: 1em;
  }
  .content p {
    font-size: 0.9em;
  }
  .imageContainer img {
    width: 90px;
    height: 90px;
  }

  .parent {
    padding: 8px;
  }
}

@media screen and (max-width: 500px) {
  .imageContainer img {
    height: 100%;
  }

  .content h4 {
    font-size: 0.9em;
  }

  .content p {
    font-size: 0.8em;
  }
}
