.filterItem {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
}

.filterItem select {
  padding: 5px;
  border-radius: 6px;
}
.filterItem span {
  font-family: "font_one_bold";
}

@media screen and (max-width: 650px) {
  .parent {
    font-size: 0.9em;
  }
}
