.searchBar {
  margin: 10px 0;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.searchBar:first-child {
  flex: 1;
}
.searchBar .filterIcon {
  align-self: stretch;
  background-color: #003b40;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.searchBar svg {
  margin: 0 20px;
  color: #fefefe;
  height: 100%;
}

/* ----------------------- */

.filtersWrapper {
  transform: translateY(-100%);
  transition: transform 10s ease-out forwards;
  overflow: hidden;
}

.show {
  transform: translateY(0);
}

.filtersContainer {
  position: relative; /* Or absolute, depending on your layout */
  height: 100vh; /* Example height */
}
