@font-face {
  font-family: "font_one";
  src: url("./assets/fonts/Sk-Modernist-Regular.otf");
}

@font-face {
  font-family: "font_one_bold";
  src: url("./assets/fonts/Sk-Modernist-Bold.otf");
}

@font-face {
  font-family: "font_one_mono";
  src: url("./assets/fonts/Sk-Modernist-Mono.otf");
}

body {
  font-family: "font_one";
}

.logoShrink {
  height: 100%;
  transition: 2.5s;
  height: 60px !important;
}

.css-b62m3t-container {
  flex: 1;
}

#map {
  height: 100vh;
  width: 100vw;
  background-color: red;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
